<html>

	<head>

		<script src="https://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript" language="javascript"></script> 
	
		<script src="jquery.xml2json.js" type="text/javascript" language="javascript"></script>
	
		<script src="handlebars-v1.3.0.js" type="text/javascript" language="javascript"></script>
		
		
		<script src="https://cdn.datatables.net/1.10.0/js/jquery.dataTables.js" type="text/javascript" language="javascript"></script>
		
		
		
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.0/css/jquery.dataTables.css">
		
		
		<link rel="stylesheet" type="text/css" href="style.css">
		
		
		<script id="entry-template" type="text/x-handlebars-template">
			
			
			
			
			
			<table id="example" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th class="sortTemp" align="left" style="width:1%">Start Day</th>
						<th class="sortTemp" align="left" style="width:1%">End Day</th>
						<th align="left" class="date" style="width:8%">Date</th>
						
						<th align="left"  class="event" style="width:60%">Event</th>
						
						<th align="left"  class="city" style="width:15%">City</th>
						
						<th align="left"  class="country"  style="width:15%">Country</th>
					</tr>
				</thead>
		 
				
		 
				<tbody>
				
				{{#Event}}


					
						<tr>
						<td class="sortTemp"><p>{{eventStartday}} </p></td>
						<td class="sortTemp"><p>{{eventEndday}} </p></td>
						<td>
									<p>
										{{eventStartday}}
									
										{{#if eventEndday}}
											- {{eventEndday}} 
										{{/if}}
									</p>
									
									<p>{{link}}</p>
									
						</td>
						
						<td>
						
								<p>							 
								{{eventWebaddress }}
								</p>
								
								
							
								

								
								<p>
								{{eventVenuename}}
								</p>
								
								
						</td>
						
						<td>{{eventVenuecity}}</td>
						
						<td>{{eventVenuecountry}}</td>       
					</tr>
					
					
					
					
					
					
					
				   {{/Event}}
				   
				   
				   
				   
				</tbody>
			</table>
			
			
			
			
			
			
			
			
			
			
		</script>
	
	
	
		<script>

			function htmlEncode(value){
				if (value) {
					return jQuery('<div />').text(value).html();
				} else {
					return '';
				}
			}
			
			function htmlDecode(value) {
				if (value) {
					return $('<div />').html(value).text();
				} else {
					return '';
				}
			}
			
			
		
			$( document ).ready(function() {
			 
			
		
			
			 
			 
			 
			 
			 
			 
			 $(".exportBtn").click(function(){
				
				
				$('.sortTemp').remove();
				$(".date").css("width","10%");
				$(".event").css("width","60%");
				$(".city").css("width","15%");
				$(".country").css("width","15%");
				$("#tableContent").find('*').removeAttr("class").removeAttr("role").removeAttr("aria-controls").removeAttr("aria-label");
				$("#example_filter").remove();
				
				
				$('#example > tbody > tr  ').each(function(){
			 
			 
					$(this).after('<tr><td colspan="7"><p></p><hr> </hr><p></p></td></tr>');
				 
				 });
				
				
				
				
				$("#example_info").remove();
				
				str =$("#example_wrapper").html();
				
				
				
				$("#xmlTextAreaResult").val(str.replace(/\<hr>/g, '<hr />'))
				
			
				
				//$("#xmlTextAreaResult").val(str);
			 
			 });
				
			
			String.prototype.replaceAll = function(str1, str2, ignore) 
			{
				return this.replace(new RegExp(str1.replace(/([\/\,\!\\\^\$\{\}\[\]\(\)\.\*\+\?\|\<\>\-\&])/g,"\\$&"),(ignore?"gi":"g")),(typeof(str2)=="string")?str2.replace(/\$/g,"$$$$"):str2);
			}
			
				
				

				$("#convertButton").click(function(){
				
				
		
				
				
				
					try 
					{
							var somee = decodeURIComponent($("#xmlTextArea").val().trim()).replaceAll("&","&amp;");
							

							
							$("#xmlTextArea").val(somee);
							
							
							
							var data = $.xml2json($("#xmlTextArea").val().trim());
						
							var source   = $("#entry-template").html();
							
							
							
							
							
								  
								  
								  
							Handlebars.registerHelper('eventWebaddress', function() {
							  if(this.eventWebaddress.substr(0,7) != "http://" && this.eventWebaddress != "."   && this.eventWebaddress != "" )
							  {
							   return new Handlebars.SafeString("<a href='" + "http://"+this.eventWebaddress + "'>" + this.eventName + "</a>");
	
									
							  }
							  else if(this.eventWebaddress.substr(0,7) == "http://")
							  {
							  return new Handlebars.SafeString("<a href='" + this.eventWebaddress + "'>" + this.eventName + "</a>");
							  }
							  else
							  {
								 
								
								return this.eventName;
							  }
							  
							});	  
							
						
							
							
							
							Handlebars.registerHelper('link', function() {
							  
							   
							   switch (true) 
							   {
									
									case (this.eventStartmonth == "1"):
									   return "Jan";
										break;
									case (this.eventStartmonth == "2"):
									   return "Feb";
										break;
									case (this.eventStartmonth == "3"):
									   return "Mar";
										break;
									case (this.eventStartmonth == "4"):
									   return "Apr";
										break;
									case (this.eventStartmonth == "5"):
									   return "May ";
										break;
									case (this.eventStartmonth == "6"):
									   return "June";
										break;
									case (this.eventStartmonth == "7"):
									   return "July";
										break;
									case (this.eventStartmonth == "8"):
									   return "Aug";
										break;
									case (this.eventStartmonth == "9"):
									   return "Sept";
										break;
									case (this.eventStartmonth == "10"):
									   return "Oct";
										break;
									case (this.eventStartmonth == "11"):
									   return "Nov";
										break;	
									case (this.eventStartmonth == "12"):
									   return "Dec";
										break;	
										
									default:
										return "";
								}
							   
							   
							});
							
							
							var template = Handlebars.compile(source);

							$("#tableContent").html(template(data));
							
							
							
							//$("#entry-template").remove()
							
							
							
							
							
							
							
							$("#xmlTextAreaResult").val($("#tableContent").html());
							
							
							$.fn.dataTableExt.sErrMode = "throw";
							$('#example').dataTable({
								 "paging":   false
								 
								 
							});
							
						
							$(".exportBtn").show();
						
					}
					catch(err) 
					{
						//alert("Hata:" + err);
						//$("#xmlTextAreaResult").val("Error");
					}
					
					
					
					
					
					
				
					
				
				});
			 
			 
			 
			});
		

		</script>



		<style>
            #convertButton
            {
            
            
            }

		</style>




	</head>


	<body>

		<div  style="padding-right: 100px;padding-left: 100px;padding-top: 1px;">
		
		<h1>XML Data </h1>
		<textarea id="xmlTextArea" rows="1" cols="1" style="width: 100%;height: 254px;">
		</textarea>
		
		
		<input id="convertButton" type="button" value="Convert to table" style="float: right;margin-top: 10px;width: 100%;height: 34px;">
		
		
		
		</div>
		
		
		<div  style="padding-right: 100px;padding-left: 100px;padding-top: 64px;">
		<h1>Html Data Result</h1>
		<textarea id="xmlTextAreaResult" rows="1" cols="1" style="width: 100%;height: 254px;">
		</textarea>

		</div>
		
		
		<br/><br/>
		<input class="exportBtn" type="button" style="display:none;" value="Export" />
		<div id="tableContent">
		
		
		</div>
			
			
		
			


	</body>


</html>